/* ====== RESET ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ====== CLASSI GENERALI ====== */
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem 3rem;
    background-color: #fff;
    border-radius: .5rem;
}



/* ====== HEADER ====== */
header {
    padding: 1rem;
    /* Header flex per posizionamento di logo e titolo */
    display: flex;
    align-items: center;
    gap: .5rem;
    /* Stile dell'header */
    background-color: #fefefe;
}
/* Stile del titolo */
h1 {
    font-family: sans-serif;
    font-size: 2.5rem;
}




/* ====== MAIN ====== */
main {
    padding: 2rem 0;
    background-color: #f7f7f7;
}