/* ====== RESET ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ====== CLASSI GENERALI ====== */
/* Container */
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem 3rem;
    background-color: #fff;
    border-radius: .5rem;
}
/* Pulsanti */
.button {
    padding: .33rem .75rem;
    border-radius: .33rem;
    border: 1px solid;
}
.button.button-fill {
    background-color: #44AEEC;
    border-color: #44AEEC;
    color: #fff;
}
.button.button-outline {
    background-color: transparent;
    border-color: #CDCBCC;
    color: #CDCBCC;
}
/* Titoli */
/* Stile del titolo della pagina (a fianco del logo) */
h1 {
    font-family: sans-serif;
    font-size: 2.5rem;
}
/* Stile dei titoli delle sezioni di task */
h2 {
    font-family: sans-serif;
}
/* Stile dei testi delle task */
p {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-family: sans-serif;
}



/* ====== HEADER ====== */
header {
    padding: 1rem;
    /* Header flex per posizionamento di logo e titolo */
    display: flex;
    align-items: center;
    gap: .5rem;
    /* Stile dell'header */
    background-color: #FFFFFF;
}



/* ====== MAIN ====== */
main {
    padding: 2rem 0;
    background-color: #F6F8FA;
}



/* ====== LISTA ====== */
/* Spaziatura delle sezioni della lista */
.todo-section {
    margin-top: 2.5rem;
}
/* Marker della sezione */
.section-marker {
    font-size: .66em;
    transform: skew(.7);
    transform-origin: bottom;
}
/* Marker del task */
.task-marker {
    /* Tipografia */
    font-weight: bold;
    font-size: .7em;

    /* Bordo, forma e dimensione */
    width: 1.1rem;
    aspect-ratio: 1;
    border: 1px solid;
    border-radius: 50%;

    /* Spazio dalla voce del task */
    margin-right: .5rem;

    /* Centratura dell'elemento grafico */
    display: inline-grid;
    place-items: center;
}
/* Colore del marker success */
.task-marker.success {
    color: #8CADA2;
}
/* Colore del marker error */
.task-marker.error {
    color: #8F5E65;
}
/* Badge */
.badge {
    padding: .4rem .66rem;
    border-radius: .6rem;

    /* Tipografia */
    font-size: .7rem;
    font-weight: bold;
    color: #fff;
}
.badge.editorial {
    background-color: #4AA2ED;
}
.badge.q1-goals {
    background-color: #9E76EC;
}
.badge.recruiting {
    background-color: #61BEA8 ;
}
.badge.mobile {
    background-color: #EDA436 ;
}
.badge.website {
    background-color: #D4699F;
}
.badge.sales {
    background-color: #B0CA2B;
}