/* ====== RESET ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ====== CLASSI GENERALI ====== */
/* Container */
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem 3rem;
    background-color: #fff;
    border-radius: .5rem;
}
/* Pulsanti */
.button {
    padding: .33rem .75rem;
    border-radius: .33rem;
    border: 1px solid;
}
.button.button-fill {
    background-color: #44a9f8;
    border-color: #44a9f8;
    color: #fff;
}
.button.button-outline {
    background-color: transparent;
    border-color: #dbdbdb;
    color: #dbdbdb;
}
/* Titoli */
/* Stile del titolo della pagina (a fianco del logo) */
h1 {
    font-family: sans-serif;
    font-size: 2.5rem;
}
/* Stile dei titoli delle sezioni di task */
h2 {
    font-family: sans-serif;
}
/* Stile dei testi delle task */
p {
    font-family: sans-serif;
    margin-top: .75rem;
}



/* ====== HEADER ====== */
header {
    padding: 1rem;
    /* Header flex per posizionamento di logo e titolo */
    display: flex;
    align-items: center;
    gap: .5rem;
    /* Stile dell'header */
    background-color: #fefefe;
}



/* ====== MAIN ====== */
main {
    padding: 2rem 0;
    background-color: #f7f7f7;
}



/* ====== LISTA ====== */
/* Spaziatura delle sezioni della lista */
.todo-section {
    margin-top: 2.5rem;
}
/* Marker della sezione */
.section-marker {
    font-size: .8em;
    transform: skew(.7);
    transform-origin: bottom;
}
/* Marker del task */
.task-marker {
    /* Tipografia */
    font-weight: bold;
    font-size: .7em;

    /* Bordo, forma e dimensione */
    width: 1.1rem;
    aspect-ratio: 1;
    border: 1px solid;
    border-radius: 50%;

    /* Spazio dalla voce del task */
    margin-right: .5rem;

    /* Centratura dell'elemento grafico */
    display: inline-grid;
    place-items: center;
}
/* Colore del marker success */
.task-marker.success {
    /* color: #98bbb0; */
    color: rgb(21, 184, 21);
}
/* Colore del marker error */
.task-marker.error {
    /* color: #a29797; */
    color: firebrick;
}
/* Badge */
.badge {
    padding: .5rem .75rem;
    border-radius: .75rem;

    /* Tipografia */
    font-size: .7rem;
    color: #fff;
}
.badge.editorial {
    background-color: #44a9f9;
}